<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.swrve.sdk.demo">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="25"
        tools:overrideLibrary="com.swrve.sdk, com.swrve.sdk.conversations, com.swrve.sdk.push, com.swrve.swrvesdkcommon, android.support.graphics.drawable.animated, android.support.transition, android.arch.lifecycle, com.google.firebase.firebase_common, com.google.android.gms.admob"/>

    <application>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
