<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swrve.sdk.common"
    android:versionCode="3"
    android:versionName="3.1">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="23" />

    <application >
        <activity
            android:name="com.swrve.sdk.conversations.ui.ConversationActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.Conversations"></activity>
        </application>
</manifest>