<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swrve.sdk.push"
    android:versionCode="2"
    android:versionName="2.8">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="22" />

    <application>

        <service
            android:name="com.swrve.sdk.push.SwrvePushServiceDefaultJobIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name="com.swrve.sdk.push.SwrvePushServiceDefaultReceiver"
            android:exported="false"/>

    </application>

</manifest>
