<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.swrve.sdk.test"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        tools:overrideLibrary="com.swrve.sdk, com.google.android.gms, com.google.android.gms.gcm, com.google.android.gms.base, com.google.android.gms.ads, com.google.android.gms.appindexing, com.google.android.gms.measurement, com.google.firebase, com.google.android.gms.tasks, com.google.android.gms.iid, com.google.android.gms.ads.impl, com.google.android.gms.clearcut, com.google.android.gms.gass, com.google.firebase.messaging, com.google.firebase.iid, com.google.android.gms.safetynet, com.android.support.v4, android.support.design, android.support.v7.appcompat, android.support.graphics.drawable, android.support.v7.recyclerview, android.support.v4, android.support.mediacompat, android.support.fragment, android.support.coreui, android.support.coreutils, android.support.compat, com.google.firebase.firebase_common, com.google.android.gms.admob"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <!-- Use android:value instead of android:resource for Robolectric test (bug in robolectric) -->
        <meta-data
            android:name="SWRVE_PUSH_ICON"
            android:value="1234" />
        <meta-data
            android:name="SWRVE_PUSH_ACTIVITY"
            android:value="com.swrve.sdk.test.MainActivity" />
        <meta-data
            android:name="SWRVE_PUSH_TITLE"
            android:value="Android Test App" />
        <meta-data
            android:name="SWRVE_PUSH_ICON_MATERIAL"
            android:resource="@drawable/ic_launcher" />
        <meta-data
            android:name="SWRVE_PUSH_ICON_LARGE"
            android:resource="@drawable/ic_launcher" />
        <meta-data
            android:name="SWRVE_PUSH_ACCENT_COLOR"
            android:value="17170443" />
        <activity
            android:name="com.swrve.sdk.test.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
