<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swrve.sdk"
    android:versionCode="2"
    android:versionName="2.8">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".messaging.ui.SwrveInAppMessageActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.InAppMessage">
        </activity>

        <service android:exported="false" android:name="com.swrve.sdk.SwrveWakefulService"/>
        <receiver android:exported="false" android:name="com.swrve.sdk.SwrveWakefulReceiver">
            <intent-filter>
                <action android:name="${applicationId}.swrve.SwrveWakeful" />
            </intent-filter>
        </receiver>

        <service android:exported="false" android:name="com.swrve.sdk.SwrveEventSenderJobIntentService" android:permission="android.permission.BIND_JOB_SERVICE"/>
    </application>
</manifest>
