<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swrve.swrvesdkcommon">

    <application>
        <receiver
            android:name="com.swrve.sdk.SwrveNotificationEngageReceiver"
            android:exported="false" />
        <activity
            android:name="com.swrve.sdk.SwrveNotificationEngageActivity"
            android:theme="@android:style/Theme.Light"
            android:exported="false" />

    </application>

</manifest>
