<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swrve.sdk.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="com.swrve.sdk.demo.DemoApplication"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.swrve.sdk.demo.MainActivity"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Plot projects -->
        <receiver android:name="com.plotprojects.retail.android.PlotBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <service android:name="com.plotprojects.retail.android.PlotBackgroundService">
            <meta-data android:name="debug" android:value="true" />
        </service>

        <provider
            android:authorities="${applicationId}.plot.debuglogprovider"
            android:name="com.plotprojects.retail.android.DebugLogProvider"
            android:exported="true" />

        <activity
            android:name="com.plotprojects.retail.android.LandingPageActivity"
            android:configChanges="orientation|screenSize" />

        <receiver android:exported="false" android:name="com.swrve.sdk.locationcampaigns.LocationCampaignEngageReceiver">
            <intent-filter>
                <action android:name="${applicationId}.plot.OpenNotification" />
            </intent-filter>
        </receiver>

        <service android:name="com.swrve.sdk.locationcampaigns.LocationCampaignFilterService"></service>
        <!-- Plot projects -->

    </application>

</manifest>
